{% extends 'base.html' %}

{% block title %}Edit User{% endblock  %}

{% block content %}
<h2>Edit {{user.first_name}} {{user.last_name}}</h2>
<form action="/users/{{user.id}}/edit" method="POST">
    <label for="first_name">First Name</label>
    <input id="first_name" type="text" name='first_name' placeholder='{{user.first_name}}' required>

    <label for="last_name">Last Name</label>
    <input id="last_name" type="text" name='last_name' placeholder='{{user.last_name}}' required>

    <label for="image-url">Image URL</label>
    <input id="image-url" type="url" name='image-url' placeholder = 'Provide an image of this user'>
    <button class="cancel" onclick="window.location.href='/users'">Cancel</button>
    <button class="add">Save</button>
</form>
{% endblock  %}