{% extends 'base.html' %}

{% block title %}Post Details{% endblock  %}

{% block content %}

<h1>{{post.title}}</h1>
<p>{{post.content}}</p>
<p>By {{post.user.first_name}} {{post.user.last_name}}</p>
<p>Posted on: {{post.created_at.strftime('%d %B, %Y')}}</p>


<div>
    <h6>Tags:</h6>
    {% for tag in tags %}
    <button onclick="window.location.href='/tags/{{tag.id}}'">{{tag.name}}</button>
    {% endfor %}
</div>

<button onclick="window.location.href='/users/{{post.user.id}}'">Cancel</button>

<form action="/posts/{{post.id}}/edit">
    <button>Edit</button>
</form>

<form action="/posts/{{post.id}}/delete" method="POST">
    <button>Delete</button>
</form>

{% endblock  %}