{% extends 'base.html' %}

{% block title %}Show Tag{% endblock  %}

{% block content %}
<h1>{{tag.name}}</h1>
<ul>
    {% for post in tag.posts %}
    <li onclick="window.location.href='/posts/{{post.id}}'">{{post.title}}</li>
    {% endfor %}
</ul>
<button class="edit" onclick="window.location.href='/tags/{{tag.id}}/edit'">Edit</button>
<form action="/tags/{{tag.id}}/delete" method="POST">
    <button class="delete">Delete Tag</button>
</form>
<button class="cancel" onclick="window.location.href='/tags'">Back</button>
{% endblock  %}